@use './utilities/global.scss';
@use './utilities/mixins' as mx; // Corrigido o caminho do arquivo mixins.scss
@use './utilities/variables' as var;

.bg-prima {
  background-color: var.$bg-prima;
}  

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-1{
    @include mx.title-1;
    text-align: center;
}

.paragraph-1{
    font-size: 20px;
    font-weight: 700;
    color: var.$text-prima;
    text-align: center;
}
