@use './functions' as fn;
@use './variables' as var;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

