// text
$text-white: #FFFFFF;
$text-black: #000000;
$text-prima: #171717;
$text-seco: #212121;
$text-terce: #474747;

// bg
$bg-prima: #FFFFFF;
$bg-seco: #171717;
$bg-terce: #272727;
$color-green: #1DA56C;
$color-blue: #0D6EDE;
