.flex {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-col-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-col-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}